

.Palette{
    width : 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 12fr;
    
    .item{
        transition: 0.1s ease-in-out;
        &:hover{
            cursor:pointer;
            color: colors.primary;
        }
        &.highlighted {
            color: colors.primary;
            
            background: #383838;
        }
        padding: 20px 10px ;
        display:flex;
        flex-direction: column;
        svg{
            font-size: 1.5rem;
            color: white;
        }
        span{
            padding-top:0.25rem;
            min-width: 4rem;
            font-size: 1rem;
            color: white;
        }
    }

    
}

