@tailwind base;
@tailwind components;
@tailwind utilities;

img:hover{
  cursor: pointer;
}
html{
  font-size: initial;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg-yellow-100{
  background-color: #f2d229;
}

.title {
  font-size: 3rem;
}

.circle{
  aspect-ratio: 1/1;
}

.wave{
  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  display: inline-block;
  position: absolute;
  width: 100%;
  z-index: -10;
  padding-bottom: 50%;
  vertical-align: middle;
  overflow: hidden;
  top :0;
  .wavesvg {
    stroke: none; fill:#f2d229;
  }
}


.shelf {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding:1rem;
  box-sizing: border-box;
}

.block {
  /* border: 1px solid black; */
  padding: 10px;
}

.book-cover{
  /* border: 1px solid black; */
  border-radius: 6px;
  height: 200px;
  width: 150px;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 10px grey;
  &:hover{
    transform: translateY(-10px);
    transition: 0.1s ease-in-out;
  }
}